<h2 class="mt-5 mb-3">Regular Seasons</h2>

<table class="table data-table-simple">
    <thead class="thead-light">
    <tr>
        <th>Season</th>
        <th>Team Name</th>

        <th class="text-center">Record</th>

        <th class="text-right">Win %</th>

        <th class="text-right">For</th>
        <th class="text-right">Against</th>
        <th class="text-right">+/-</th>

        <th class="text-center">Points</th>
        <th class="text-center">Rank</th>
    </tr>
    </thead>
    <tbody>

    {% for team in franchise.teams_sorted %}
        <tr>
            <td>{{ team.season.simple_link|safe }}</td>
            <td>{{ team.simple_link|safe }}</td>

            <td class="text-center">{{ team.regular_record_str }}</td>

            <td style="text-align: right">{{ '%.1f'| format(team.regular_win_percentage) }}</td>

            <td class="text-right">{{ '%.1f'| format(team.regular_score_for_avg) }}</td>
            <td class="text-right">{{ '%.1f'| format(team.regular_score_against_avg) }}</td>
            <td class="text-right">{{ '%+.1f'| format(team.regular_score_difference_avg) }}</td>

            <td class="text-center">{{ team.regular_points }}</td>
            <td class="text-center">{{ team.regular_rank }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>