
<h2 class="mt-5 mb-3">Head to Head Records</h2>

<h3 class="mt-5 mb-3">Overall</h3>

<table class="table table-hover data-table-simple">
    <thead>
        <tr>
            <th>Franchise</th>

            <th class="text-center">Played</th>
            <th class="text-center">Won</th>
            <th class="text-center">Drawn</th>
            <th class="text-center">Lost</th>

            <th class="text-right">Win %</th>

            <th class="text-right">For</th>
            <th class="text-right">Against</th>
            <th class="text-right">+/-</th>

            <th>First Game</th>
            <th>Last Game</th>
            <th class="text-center">Streak</th>
        </tr>
    </thead>
    <tbody>
    {% for other in franchise.h2h_stats %}
        <tr>
            <td>
                <div class="media">
                    <div class="align-self-center mr-3">
                        {{ other.franchise.logo_html|safe }}
                    </div>
                    <div class="media-body">
                        {{ other.franchise.simple_link|safe }}
                        {{ other.franchise.trophy_list_html|safe }}
                    </div>
                </div>
            </td>

            <td class="text-center">{{ other.total_played_sum }}</td>

            {% if other.total_played_sum > 0 %}

                <td class="text-center">{{ other.total_won_sum }}</td>
                <td class="text-center">{{ other.total_drawn_sum }}</td>
                <td class="text-center">{{ other.total_lost_sum }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.total_win_percentage) }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.total_score_for_avg) }}</td>
                <td class="text-right">{{ '%0.1f'| format(other.total_score_against_avg) }}</td>
                <td class="text-right">{{ '%+0.1f'| format(other.total_score_difference_avg) }}</td>

                <td>{{ other.games[0].date_link|safe }}</td>
                <td>{{ other.games[-1].date_link|safe }}</td>

                <td class="text-center"><a href="{{ franchise.simple_url }}#h2h_vs_{{ other.franchise.id }}">{{ other.streak }}</a></td>

            {% else %}

                <td></td>
                <td></td>
                <td></td>

                <td></td>

                <td></td>
                <td></td>
                <td></td>

                <td></td>
                <td></td>

                <td></td>

            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3 class="mt-5 mb-3">Regular Season</h3>

<table class="table table-hover data-table-simple">
    <thead>
        <tr>
            <th>Franchise</th>

            <th class="text-center">Played</th>
            <th class="text-center">Won</th>
            <th class="text-center">Drawn</th>
            <th class="text-center">Lost</th>

            <th class="text-right">Win %</th>

            <th class="text-right">For</th>
            <th class="text-right">Against</th>
            <th class="text-right">+/-</th>

            <th>First Game</th>
            <th>Last Game</th>
        </tr>
    </thead>
    <tbody>
    {% for other in franchise.h2h_stats %}

        {% if other.regular_played_sum > 0 %}
            <tr>
                <td>
                    <div class="media">
                        <div class="align-self-center mr-3">
                            {{ other.franchise.logo_html|safe }}
                        </div>
                        <div class="media-body">
                            {{ other.franchise.simple_link|safe }}
                            {{ other.franchise.trophy_list_html|safe }}
                        </div>
                    </div>
                </td>

                <td class="text-center">{{ other.regular_played_sum }}</td>


                <td class="text-center">{{ other.regular_won_sum }}</td>
                <td class="text-center">{{ other.regular_drawn_sum }}</td>
                <td class="text-center">{{ other.regular_lost_sum }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.regular_win_percentage) }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.regular_score_for_avg) }}</td>
                <td class="text-right">{{ '%0.1f'| format(other.regular_score_against_avg) }}</td>
                <td class="text-right">{{ '%+0.1f'| format(other.regular_score_difference_avg) }}</td>

                <td>{{ other.games[0].date_link|safe }}</td>
                <td>{{ other.games[-1].date_link|safe }}</td>

            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>



<h3 class="mt-5 mb-3">Play-Offs</h3>

<table class="table table-hover data-table-simple">
    <thead>
        <tr>
            <th>Franchise</th>

            <th class="text-center">Played</th>
            <th class="text-center">Won</th>
            <th class="text-center">Drawn</th>
            <th class="text-center">Lost</th>

            <th class="text-right">Win %</th>

            <th class="text-right">For</th>
            <th class="text-right">Against</th>
            <th class="text-right">+/-</th>

            <th>First Game</th>
            <th>Last Game</th>
        </tr>
    </thead>
    <tbody>
    {% for other in franchise.h2h_stats %}

        {% if other.finals_played_sum > 0 %}

            <tr>

                <td>
                    <div class="media">
                        <div class="align-self-center mr-3">
                            {{ other.franchise.logo_html|safe }}
                        </div>
                        <div class="media-body">
                            {{ other.franchise.simple_link|safe }}
                            {{ other.franchise.trophy_list_html|safe }}
                        </div>
                    </div>
                </td>

                <td class="text-center">{{ other.finals_played_sum }}</td>

                <td class="text-center">{{ other.finals_won_sum }}</td>
                <td class="text-center">{{ other.finals_drawn_sum }}</td>
                <td class="text-center">{{ other.finals_lost_sum }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.finals_win_percentage) }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.finals_score_for_avg) }}</td>
                <td class="text-right">{{ '%0.1f'| format(other.finals_score_against_avg) }}</td>
                <td class="text-right">{{ '%+0.1f'| format(other.finals_score_difference_avg) }}</td>

                <td>{{ other.games[0].date_link|safe }}</td>
                <td>{{ other.games[-1].date_link|safe }}</td>

            </tr>

        {% endif %}

    {% endfor %}
    </tbody>
</table>


{% for other in franchise.h2h_stats %}

    {% if other.total_played_sum > 0 %}

        <h4 class="mt-5 mb-3" id="h2h_vs_{{ other.franchise.id }}">

            <div class="media">
                <div class="align-self-center mr-3">
                    {{ other.franchise.logo_html|safe }}
                </div>
                <div class="media-body">
                    {{ other.franchise.simple_link|safe }}
                    {{ other.franchise.trophy_list_html|safe }}
                    Head to Head
                </div>
            </div>
        </h4>

        <table class="table table-hover h2h-stats">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Season</th>
                    <th>Stage</th>
                    <th>Score</th>
                    <th>Outcome</th>
                </tr>
            </thead>

            <tbody>

                {% for gs in other.games_reversed %}
                    <tr>
                        <td>{{ gs.game.date_str }} {{ gs.game.time_str }}</td>
                        <td>{{ gs.game.season.simple_link|safe }}</td>
                        <td>{{ gs.game.season_stage }}</td>
                        <td>{{ gs.score_link|safe }}</td>
                        <td>{{ gs.outcome }}</td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    {% endif %}

{% endfor %}
