<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="franchises_all.html">Angel TL Stats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="franchises_all.html">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" href="franchises_all.html">Franchises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="seasons_all.html">Seasons</a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link disabled" href="players_all.html">Players</a>-->
            <!--</li>-->
        </ul>
    </div>
</nav>
