h1, h2, h3, h4, h5, h6 {
    font-family: 'News Cycle', sans-serif !important;
}
p, div {
    font-family: 'News Cycle', sans-serif !important;
}
blockquote, blockquote p {
    font-family: 'Open Sans', sans-serif !important;
}

span.icon {
   font-family: 'EntypoRegular' !important;
   font-weight: normal;
   font-style: normal;
}

span.icon.trophy {
    color: #DAA520;
}

table.h2h-stats {
    table-layout: fixed;
}

.franchise-logo-left {
    float: left;
    width: 15px;
    height: 20px;
    margin: 0;
    border: none;
}
.franchise-logo-right {
    float: left;
    width: 15px;
    height: 20px;
    margin: 0;
    border: none;
}


{% for franchise in franchises %}

.franchise-logo-left.franchise-{{ franchise.id }} {
    background: {{ franchise.color1 }};
}
.franchise-logo-right.franchise-{{ franchise.id }} {
    background: {{ franchise.color2 }};
}

{% endfor %}

.season-record-str {
    color: #696969;
    font-size: small;
}



/*
 * Sticky footer styles.
 * from https://stackoverflow.com/a/27864663/38611
 */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;

    font-size: small;
}
