<h1 class="display-3 mt-5 mb-3">Franchises</h1>

<table class="table data-table-simple">
    <thead>
        <tr>
            <th data-orderable="false">&nbsp;</th>
            <th>Name</th>
            <th>Status</th>
            <th>Seasons</th>
            <th>Championship Titles</th>
            <th>Games Played</th>
            <th data-orderable="false">&nbsp;</th>
        </tr>
    </thead>
    {% for franchise in franchises_all %}
        <tr>
            <td>
                {{ franchise.logo_html|safe }}
            </td>
            <td>
                {{ franchise.simple_link|safe }}
                {{ franchise.trophy_list_html|safe }}
            </td>
            <td>{{ franchise.status }}</td>
            <td class="text-center">{{ franchise.num_seasons }}</td>
            <td class="text-center">{{ franchise.num_finals_winners_teams }}</td>
            <td class="text-center">{{ franchise.num_games }}</td>

            <td class="text-center">{% include "components/franchise_sparkline.html" %}</td>
        </tr>
    {% endfor %}
</table>
