
<div class="media mt-5">
    <div class="align-self-center mr-3">{{ franchise.logo_html|safe }}</div>
    <div class="media-body">
        <h1 class="display-3">
            {{ franchise.name }}
            {{ franchise.trophy_list_html|safe }}
        </h1>
    </div>
</div>


<ul class="nav nav-tabs mt-5" id="franchiseTab" role="tablist">

    <li class="nav-item">
        <a class="nav-link active" id="franchise-summary-tab" data-toggle="tab" href="#franchise-summary" role="tab" aria-controls="franchise-summary"
           aria-selected="true">Summary</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="franchise-regular-seasons-tab" data-toggle="tab" href="#franchise-regular-seasons" role="tab" aria-controls="franchise-regular-seasons"
           aria-selected="false">Regular Seasons</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="franchise-playoffs-tab" data-toggle="tab" href="#franchise-playoffs" role="tab" aria-controls="franchise-playoffs"
           aria-selected="false">Play-Offs</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="franchise-head-to-head-tab" data-toggle="tab" href="#franchise-head-to-head" role="tab" aria-controls="franchise-head-to-head"
           aria-selected="false">Head to Head</a>
    </li>

    {% if history_story is not none %}
        <li class="nav-item">
            <a class="nav-link" id="franchise-brief-history-tab" data-toggle="tab" href="#franchise-brief-history" role="tab" aria-controls="franchise-brief-history"
               aria-selected="false">Brief History</a>
        </li>
    {% endif %}

    {% if alert_story is not none %}
        <li class="nav-item">
            <a class="nav-link" id="franchise-alert-tab" data-toggle="tab" href="#franchise-alert" role="tab" aria-controls="franchise-alert"
               aria-selected="false"><span class="badge badge-pill badge-danger">Remarks</span></a>
        </li>
    {% endif %}
</ul>

<div class="tab-content" id="franchiseTabContent">

    <div class="tab-pane fade show active" id="franchise-summary" role="tabpanel" aria-labelledby="franchise-summary-tab">
        {% include "components/franchise_summary.html" %}
    </div>

    <div class="tab-pane fade" id="franchise-regular-seasons" role="tabpanel" aria-labelledby="franchise-regular-seasons-tab">
        {% include "components/franchise_regular_seasons.html" %}
    </div>

    <div class="tab-pane fade" id="franchise-playoffs" role="tabpanel" aria-labelledby="franchise-playoffs-tab">
        {% include "components/franchise_playoffs.html" %}
    </div>

    <div class="tab-pane fade" id="franchise-head-to-head" role="tabpanel" aria-labelledby="franchise-head-to-head-tab">
        {% include "components/franchise_head_to_head.html" %}
    </div>

    {% if history_story is not none %}
        <div class="tab-pane fade" id="franchise-brief-history" role="tabpanel" aria-labelledby="franchise-brief-history-tab">
            <h3 class="mt-5 mb-3">Brief History</h3>

            <div class="py-3">
                {{ history_story|safe }}
            </div>
        </div>
    {% endif %}

    {% if alert_story is not none %}
        <div class="tab-pane fade" id="franchise-alert" role="tabpanel" aria-labelledby="franchise-alert-tab">
            <h3 class="mt-5 mb-3">Remarks</h3>

            <div class="py-3">
                {{ alert_story|safe }}
            </div>
        </div>
    {% endif %}

</div>
