
<div class="media mt-5">
    <div class="align-self-center mr-3">{{ franchise.logo_html|safe }}</div>
    <div class="media-body">
        <h1 class="display-3">
            {{ franchise.name }}
            {{ franchise.trophy_list_html|safe }}
        </h1>
    </div>
</div>


{% if alert_story is not none %}

    <div class="alert alert-danger">
        {{ alert_story|safe }}
    </div>

{% endif %}


{% if history_story is not none %}

    <h3 class="my-3">Brief History</h3>

    {{ history_story|safe }}

{% endif %}


<h3 class="mt-5 mb-3">Summary</h3>

<table class="table">
    <thead>
        <tr>
            <th colspan="5">Seasons</th>
            <th colspan="3">Games</th>
        </tr>
        <tr>
            <th>Total</th>
            <th>Championship<br>Titles</th>
            <th>Regular Season<br>Winners</th>
            <th>First<br>Season</th>
            <th>Most Recent<br>Season</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ franchise.num_seasons }}</td>
            <td>{{ franchise.finals_num_winners }}</td>
            <td>{{ franchise.regular_num_winners }}</td>
            <td>{{ franchise.teams[0].season.simple_link|safe }}</td>
            <td>{{ franchise.teams[-1].season.simple_link|safe }}</td>
            <td>{{ franchise.outcomes['W'] }}</td>
            <td>{{ franchise.outcomes['D'] }}</td>
            <td>{{ franchise.outcomes['L'] }}</td>
        </tr>
    </tbody>
</table>

<h2 class="mt-5 mb-3">Regular Seasons</h2>

<table class="table data-table-simple">
    <thead class="thead-light">
        <tr>
            <th data-orderable="false">Season</th>
            <th data-orderable="false">Team Name</th>

            <th class="text-center">Record</th>

            <th class="text-right">Win %</th>

            <th class="text-right">For</th>
            <th class="text-right">Against</th>
            <th class="text-right">+/-</th>

            <th class="text-center">Points</th>
            <th class="text-center">Rank</th>
        </tr>
    </thead>
    <tbody>

        {% for team in franchise.teams_sorted %}
            <tr>
                <td>{{ team.season.simple_link|safe }}</td>
                <td>{{ team.simple_link|safe }}</td>

                <td class="text-center">{{ team.regular_record_str }}</td>

                <td style="text-align: right">{{ '%.1f'| format(team.regular_win_percentage) }}</td>

                <td class="text-right">{{ '%.1f'| format(team.regular_score_for_avg) }}</td>
                <td class="text-right">{{ '%.1f'| format(team.regular_score_against_avg) }}</td>
                <td class="text-right">{{ '%+.1f'| format(team.regular_score_difference_avg) }}</td>

                <td class="text-center">{{ team.regular_points }}</td>
                <td class="text-center">{{ team.regular_rank }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>


<h2 class="mt-5 mb-3">Play-Offs</h2>

<table class="table data-table-simple">
    <thead class="thead-light">
        <tr>
            <th data-orderable="false">Season</th>
            <th data-orderable="false">Team Name</th>

            <th class="text-center">Record</th>

            <th class="text-right">For</th>
            <th class="text-right">Against</th>
            <th class="text-right">+/-</th>

        </tr>
    </thead>
    <tbody>

        {% for team in franchise.teams_sorted %}
            <tr>
                <td>{{ team.season.simple_link|safe }}</td>
                <td>{{ team.simple_link|safe }}</td>

                <td class="text-center">{{ team.finals_record_str }}</td>

                <td class="text-right">{{ '%.1f'| format(team.finals_score_for_avg) }}</td>
                <td class="text-right">{{ '%.1f'| format(team.finals_score_against_avg) }}</td>
                <td class="text-right">{{ '%+.1f'| format(team.finals_score_difference_avg) }}</td>

            </tr>
        {% endfor %}

    </tbody>
</table>

<h2 class="mt-5 mb-3">Head to Head Records</h2>

<h3 class="mt-5 mb-3">Summary</h3>

<table class="table table-hover data-table-simple">
    <thead>
        <tr>
            <th>Franchise</th>

            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>

            <th class="text-right">Win %</th>

            <th class="text-right">For</th>
            <th class="text-right">Against</th>
            <th class="text-right">+/-</th>

            <th>First Game</th>
            <th>Last Game</th>
            <th>Streak</th>
        </tr>
    </thead>
    <tbody>
    {% for other in franchise.h2h_stats %}
        <tr>
            <td>
                <div class="media">
                    <div class="align-self-center mr-3">
                        {{ other.franchise.logo_html|safe }}
                    </div>
                    <div class="media-body">
                        {{ other.franchise.simple_link|safe }}
                        {{ other.franchise.trophy_list_html|safe }}
                    </div>
                </div>
            </td>

            <th>{{ other.total_played }}</th>

            {% if other.total_played > 0 %}

                <td class="text-center">{{ other.total_won_sum }}</td>
                <td class="text-center">{{ other.total_drawn_sum }}</td>
                <td class="text-center">{{ other.total_lost_sum }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.total_win_percentage) }}</td>

                <td class="text-right">{{ '%0.1f'| format(other.total_score_for_avg) }}</td>
                <td class="text-right">{{ '%0.1f'| format(other.total_score_against_avg) }}</td>
                <td class="text-right">{{ '%+0.1f'| format(other.total_score_difference_avg) }}</td>

                <td>{{ other.games[0].date_link|safe }}</td>
                <td>{{ other.games[-1].date_link|safe }}</td>

                <td><a href="{{ franchise.simple_url }}#h2h_vs_{{ other.franchise.id }}">{{ other.streak }}</a></td>

            {% else %}

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>


{% for other in franchise.h2h_stats %}

    {% if other.total_played > 0 %}

        <h4 class="mt-5 mb-3" id="h2h_vs_{{ other.franchise.id }}">

            <div class="media">
                <div class="align-self-center mr-3">
                    {{ other.franchise.logo_html|safe }}
                </div>
                <div class="media-body">
                    {{ other.franchise.simple_link|safe }}
                    {{ other.franchise.trophy_list_html|safe }}
                    Head to Head
                </div>
            </div>
        </h4>

        <table class="table table-hover h2h-stats">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Season</th>
                    <th>Stage</th>
                    <th>Score</th>
                    <th>Outcome</th>
                </tr>
            </thead>

            <tbody>

                {% for gs in other.games_reversed %}
                    <tr>
                        <td>{{ gs.game.date_str }} {{ gs.game.time_str }}</td>
                        <td>{{ gs.game.season.simple_link|safe }}</td>
                        <td>{{ gs.game.season_stage }}</td>
                        <td>{{ gs.score_link|safe }}</td>
                        <td>{{ gs.outcome }}</td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    {% endif %}

{% endfor %}
