<h1 class="display-3 mt-5 mb-3">All Games</h1>

<table class="table table-hover table-striped data-table-paginated-searchable">
    <thead>
        <tr>
            <th>Season</th>
            <th>Stage</th>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th data-orderable="false">&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>+/-</th>
        </tr>
    </thead>
    <tbody>

    {% for game in games_all %}
        {% if game.completed %}
        <tr>
            <td>{{ game.season.simple_link|safe }}</td>
            <td>{{ game.season_stage }}</td>
            <td>{{ game.id }}</td>
            <td>{{ game.date_str }}</td>
            <td>{{ game.time_str }}</td>
            <td class="text-right">{{ game.winner_side.team.simple_link|safe }}</td>
            <td class="text-center">{{ game.winner_side.score }}</td>
            <td class="text-center">-</td>
            <td class="text-center">{{ game.loser_side.score }}</td>
            <td class="text-left">{{ game.loser_side.team.simple_link|safe }}</td>
            <td>{{ game.plus_minus }}</td>
        </tr>
        {% endif %}
    {% endfor %}

    </tbody>

</table>
