<script type="text/javascript" src="power_rankings.js"></script>

<h2 class="mt-5 mb-3">Power Rankings</h2>

<p>Power rankings are based on <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</a>
with following tweaks:</p>

<ul>
    <li><code>k = 40</code> for the grand final.</li>
    <li><code>k = 36</code> for semi-finals.</li>
    <li><code>k = 34</code> for 3rd place game.</li>
    <li><code>k = 32</code> for regular season games.</li>
    <li><code>k = 28</code> for other play-off games.</li>
    <li>If exactly one franchise of the two has played less than 10 games then <code>k</code> is increased
    by <code>8</code>.</li>
</ul>

<p>The basic principle of Elo rating system is that when an underdog
beats a favourite they gain more points than when the favourite beats the underdog.
Also, when they draw, the underdog gains points whereas the favourite loses.
<code>k</code> marks the significance of the game on the new rating.</p>

<canvas id="power-rankings-chart"></canvas>

<script>
var ctx = document.getElementById("power-rankings-chart").getContext("2d");
ctx.canvas.width = 1000;
ctx.canvas.height = 300;
var cfg = {
    type: 'bar',
    data: {
        datasets: power_rankings
    },
    options: {
        legend: {
            display: false
        },
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'series',
                ticks: {
                    source: 'labels'
                }
            }],
            yAxes: [{
                ticks: {
                    suggestedMin: 600,
                    suggestedMax: 1300
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Rating'
                }
            }]
        }
    }
};
var chart = new Chart(ctx, cfg);
</script>


<table class="table table-border data-table-simple mt-5">
    <thead>
        <tr>
            <th class="text-center">Rank</th>
            <th>&nbsp;</th>
            <th>Franchise</th>
            <th class="text-center">Current Rating</th>
            <th class="text-center">Best Rating</th>
            <th class="text-center" data-orderable="false">Best Win</th>
            <th class="text-center">Worst Rating</th>
            <th class="text-center" data-orderable="false">Worst Defeat</th>
            <th class="text-center">Weeks on Top</th>
        </tr>

    </thead>
    <tbody>
    {% for rank, pr in power_rankings %}
        <tr>
            <th class="text-center align-middle">{{ rank }}</th>
            <td class="align-middle text-center">
                {{ pr.franchise.logo_html|safe }}
            </td>
            <td class="align-middle">
                {{ pr.franchise.simple_link|safe }}
                {% if pr.franchise.status == 'inactive' %}
                    <em>inactive</em>
                {% endif %}
            </td>
            <td class="table-primary text-center align-middle">
                <strong style="font-size: x-large;">{{ pr.current.int_value }}</strong>
            </td>
            <td class="table-success text-center align-middle">
                {{ pr.best_rating.int_value }}
                {% if pr.best_rating.game %}
                    <br>
                    <small>
                        <a href="{{ pr.best_rating.game.simple_url }}">{{ pr.best_rating.game.pretty_date_str }}</a>
                    </small>
                {% endif %}
            </td>
            <td class="table-success text-center align-middle">
                {% if pr.best_game.change_int_value > 0 %}
                    {% if pr.best_game %}
                        {{ pr.best_game.change_int_value }}
                        <br>
                        <small>
                            {{ pr.best_game.game.winner_side.score_link|safe }} vs {{ pr.best_game.game.loser_side.team.simple_link|safe }}
                        </small>
                    {% endif %}
                {% endif %}
            </td>
            <td class="table-danger text-center align-middle">
                {{ pr.worst_rating.int_value }}
                {% if pr.worst_rating.game %}
                    <br>
                    <small>
                        <a href="{{ pr.worst_rating.game.simple_url }}">{{ pr.worst_rating.game.pretty_date_str }}</a>
                    </small>
                {% endif %}
            </td>
            <td class="table-danger text-center align-middle">
                {% if pr.worst_game %}
                    {{ pr.worst_game.change_int_value }}
                    <br>
                    <small>
                        {{ pr.worst_game.game.loser_side.score_link|safe }} vs {{ pr.worst_game.game.winner_side.team.simple_link|safe }}
                    </small>
                {% endif %}
            </td>
            <td class="table-success text-center align-middle">
                {{ pr.weeks_on_top }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
