<p>
    <a href="seasons_all.html">Back to All Seasons</a>
</p>

<h1>{{ season.name }}</h1>


<table>
    <tr>
        <td>ID</td>
        <td>{{ season.id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ season.name }}</td>
    </tr>
    <tr>
        <td>First Day</td>
        <td>{{ season.first_week_date.strftime('%d/%m/%Y') }}</td>
    </tr>
    <tr>
        <td>Last Day</td>
        <td>{{ season.last_week_date.strftime('%d/%m/%Y') }}</td>
    </tr>
    <tr>
        <td>Champions</td>
        <td>
            {% if season.teams_finals_order[0].fin_position == 1 %}
                <a href="team_{{ season.teams_finals_order[0].id }}.html">{{ season.teams_finals_order[0].name }}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Regular Season Winners</td>
        <td>
            <a href="team_{{ season.teams_regular_order[0].id }}.html">{{ season.teams_regular_order[0].name }}</a>
        </td>
    </tr>
    <!--
    Need division id, otherwise the link is invalid as the division has changed...
    -->
    <tr>
        <td>Go Mammoth Page</td>
        <td>
            <a href="https://gomammoth.spawtz.com/External/Fixtures/Standings.aspx?LeagueId=505&SeasonId={{ season.id }}" rel="noreferrer">Visit</a>
        </td>
    </tr>
</table>
