<h1>All Seasons</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>First Week</th>
            <th>Last Week</th>
            <th>Teams</th>
            <th>Regular Season Winners</th>
            <th>Champions</th>
        </tr>
    </thead>
    <tbody>

    {% for season in seasons_all %}
        <tr>
            <td>{{ season.simple_link|safe }}</td>
            <td>{{ season.first_week_date_str }}</td>
            <td>{{ season.last_week_date_str }}</td>
            <td>{{ season.num_teams }}</td>
            <td>
                <a href="{{ season.regular_champions.simple_url }}">{{ season.regular_champions.proud_name }}</a>
            </td>
            <td>
                {% if season.finals_finished %}
                    <div class="media">
                        <div class="align-self-center mr-2">
                            {{ season.finals_champions.franchise.logo_html|safe }}
                        </div>
                        <div class="media-body">
                            <a href="{{ season.finals_champions.simple_url }}">{{ season.finals_champions.proud_name }}</a>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>
