<h1 class="display-3 mt-5 mb-3">All Seasons</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>First Week</th>
            <th>Last Week</th>
            <th>Teams</th>
            <th>Champions</th>
        </tr>
    </thead>
    <tbody>

    {% for season in seasons_all %}
        <tr>
            <td>{{ season.simple_link|safe }}</td>
            <td>{{ season.first_week_date_str }}</td>
            <td>{{ season.last_week_date_str }}</td>
            <td>{{ season.num_teams }}</td>
            <td>
                {% if season.finals_finished %}
                    <div class="media">
                        <div class="align-self-center mr-2">
                            {{ season.finals_champions.franchise.logo_html|safe }}
                        </div>
                        <div class="media-body">
                            {{ season.finals_champions.simple_link|safe }}
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>


<h3 class="mt-5 mb-3">Finals Top 5</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Last Week</th>
            <th>Champions</th>
            <th>2nd</th>
            <th>3th</th>
            <th>4th</th>
            <th>5th</th>
        </tr>
    </thead>
    <tbody>

    {% for season in seasons_all %}
        {% if season.finals_finished %}

            <tr>
                <td>{{ season.simple_link|safe }}</td>
                <td>{{ season.last_week_date_str }}</td>

                {% for n in range(5) %}
                    <td>
                        {% if season.finals_teams_ranked|length >= n+1 %}
                            <div class="media">
                                <div class="align-self-center mr-2">
                                    {{ season.finals_teams_ranked[n].franchise.logo_html|safe }}
                                </div>
                                <div class="media-body">
                                    {{ season.finals_teams_ranked[n].simple_link|safe }}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

        {% endif %}

    {% endfor %}

    </tbody>

</table>


<h3 class="mt-5 mb-3">Regular Season Top 5</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Last Week</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3th</th>
            <th>4th</th>
            <th>5th</th>
        </tr>
    </thead>
    <tbody>

    {% for season in seasons_all %}
        {% if season.regular_finished %}

            <tr>
                <td>{{ season.simple_link|safe }}</td>
                <td>{{ season.last_week_date_str }}</td>

                {% for n in range(5) %}
                    <td>
                        {% if season.regular_teams_ranked|length >= n+1 %}
                            <div class="media">
                                <div class="align-self-center mr-2">
                                    {{ season.regular_teams_ranked[n].franchise.logo_html|safe }}
                                </div>
                                <div class="media-body">
                                    {{ season.regular_teams_ranked[n].simple_link|safe }}
                                    <br>
                                    <span class="season-record-str">{{ season.regular_teams_ranked[n].regular_record_str }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

        {% endif %}
    {% endfor %}

    </tbody>

</table>

