<p>
    <a href="seasons_all.html">Back to All Seasons</a>
</p>

<h1>{{ season.name }}</h1>


<table>
    <tr>
        <td>ID</td>
        <td>{{ season.id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ season.name }}</td>
    </tr>
    <tr>
        <td>First Day</td>
        <td>{{ season.first_week_date.strftime('%d/%m/%Y') }}</td>
    </tr>
    <tr>
        <td>Last Day</td>
        <td>{{ season.last_week_date.strftime('%d/%m/%Y') }}</td>
    </tr>
    <tr>
        <td>Champions</td>
        <td>
            {% if season.is_over %}
                {{ season.finals_champions.simple_link|safe }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Regular Season Winners</td>
        <td>
            {{ season.regular_champions.simple_link|safe }}
        </td>
    </tr>
    <!--
    Need division id, otherwise the link is invalid as the division has changed...
    -->
    <tr>
        <td>Go Mammoth Page</td>
        <td>
            <a href="https://gomammoth.spawtz.com/External/Fixtures/Standings.aspx?LeagueId=505&SeasonId={{ season.id }}" rel="noreferrer">Visit</a>
        </td>
    </tr>
</table>

<h3>Final Ranking</h3>

<table>
    {% for team in season.teams_finals_order %}
        <tr>
            <td>{{ team.fin_position }}</td>
            <td>{{ team.simple_link|safe }}</td>
            <td>{{ team.franchise.simple_link|safe }}</td>
        </tr>
    {% endfor %}
</table>

<h3>Regular Season Ranking</h3>

<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>P</th>
            <th>W</th>
            <th>FF</th>
            <th>D</th>
            <th>L</th>
            <th>FA</th>
            <th>F</th>
            <th>A</th>
            <th>DIFF</th>
            <th>BPTS</th>
            <th>PTS</th>
        </tr>
    </thead>
    {% for team in season.teams_regular_order %}
        <tr>
            <td>{{ team.reg_position }}</td>
            <td>{{ team.simple_link|safe }}</td>
            <td>{{ team.reg_played }}</td>
            <td>{{ team.reg_won }}</td>
            <td>{{ team.reg_forfeits_for }}</td>
            <td>{{ team.reg_drawn }}</td>
            <td>{{ team.reg_lost }}</td>
            <td>{{ team.reg_forfeits_against }}</td>
            <td>{{ team.reg_score_for }}</td>
            <td>{{ team.reg_score_against }}</td>
            <td>{{ team.reg_score_difference }}</td>
            <td>{{ team.reg_bonus_points }}</td>
            <td>{{ team.reg_points }}</td>
        </tr>
    {% endfor %}
</table>

<h3>All Games</h3>

<table>
    {% for game in season.games %}
        <tr>
            <td>{{ game.simple_link|safe }}</td>
            <td>{{ game.starts_at.strftime('%d/%m/%Y') }}</td>
            <td>{{ game.starts_at.strftime('%H:%M') }}</td>
            <td>{{ game.season_stage }}</td>
            <td style="text-align: right">{{ game.home_side.team.simple_link|safe }}</td>
            <td> - </td>
            <td style="text-align: left">{{ game.away_side.team.simple_link|safe }}</td>
            <td>
                {{ game.score_link|safe }}
            </td>
        </tr>
    {% endfor %}
</table>
