
<h1 class="display-4 mt-5 mb-3">{{ team.season.simple_link|safe }} / {{ team.name }}</h1>

<table class="table mt-5">
    <tr>
        <td class="text-right">Season</td>
        <th>
            {{ team.season.date_range_str }}
        </th>
    </tr>
    <tr>
        <td class="text-right">Franchise</td>
        <th>
            <div class="media">
                <div class="align-self-center mr-3">
                    {{ team.franchise.logo_html|safe }}
                </div>
                <div class="media-body">
                    {{ team.franchise.simple_link|safe }}
                    {{ team.franchise.trophy_list_html|safe }}
                </div>
            </div>
        </th>
    </tr>
    <tr>
        <td class="text-right">Team Name</td>
        <th>{{ team.name }}</th>
    </tr>
    <tr>
        <td class="text-right">Final Rank</td>
        <th>{{ team.finals_rank }}</th>
    </tr>
    <tr>
        <td class="text-right">Regular Season Rank</td>
        <th>{{ team.regular_rank }}</th>
    </tr>
</table>


<h3 class="mt-5 mb-3">Regular Season Summary</h3>

<table class="table">
    <thead>
        <tr>
            <td>Rank</td>
            <td>Played</td>
            <td>Won</td>
            <td>Forfeits For</td>
            <td>Drawn</td>
            <td>Lost</td>
            <td>Forfeits Against</td>
            <td>For</td>
            <td>Against</td>
            <td>Difference</td>
            <td>Bonus Points</td>
            <td>Points</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ team.regular_rank }}</td>
            <td>{{ team.regular_played }}</td>
            <td>{{ team.regular_won }}</td>
            <td>{{ team.regular_forfeits_for }}</td>
            <td>{{ team.regular_drawn }}</td>
            <td>{{ team.regular_lost }}</td>
            <td>{{ team.regular_forfeits_against }}</td>
            <td>{{ team.regular_score_for }}</td>
            <td>{{ team.regular_score_against }}</td>
            <td>{{ team.regular_score_difference }}</td>
            <td>{{ team.regular_bonus_points }}</td>
            <td>{{ team.regular_points }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ '%0.2f'| format(team.regular_score_for / team.regular_played) }}</td>
            <td>{{ '%0.2f'| format(team.regular_score_against / team.regular_played) }}</td>
            <td>{{ '%+0.2f'| format(team.regular_score_difference / team.regular_played) }}</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<h3 class="mt-5 mb-3">All Games</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Season Stage</th>
            <th>Opponent</th>
            <th>Score</th>
            <th>Outcome</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>

    {% for g in team.games %}
        <tr>
            <td>{{ g.game.id }}</td>
            <td>{{ g.game.starts_at.strftime('%d/%m/%Y') }}</td>
            <td>{{ g.game.starts_at.strftime('%H:%M') }}</td>
            <td>{{ g.game.season_stage }}</td>
            <td>
                {{ g.opponent.team.simple_link|safe }}
                {% if g.game.season_stage == 'regular' %}
                    <sup>({{ g.opponent.team.regular_rank }})</sup>
                {% endif %}
            </td>
            <td>{{ g.game.score_link|safe }}</td>
            <td>{{ g.outcome }}</td>
            <td>
                {% if g.game.season_stage == 'regular' %}
                    {{ g.points }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>

