<h1>{{ team.name }}</h1>

<table>
    <tr>
        <td>Season</td>
        <td>
            {{ team.season.simple_link|safe }}
            {{ team.season.date_range_str }}
        </td>
    </tr>
    <tr>
        <td>Franchise</td>
        <td>{{ team.franchise.simple_link|safe }}</td>
    </tr>
    <tr>
        <td>Team Name</td>
        <td>{{ team.name }}</td>
    </tr>
    <tr>
        <td>Finals Position</td>
        <td>{{ team.finals_rank }}</td>
    </tr>
    <tr>
        <td>Regular Season Position</td>
        <td>{{ team.regular_rank }}</td>
    </tr>
</table>


<h2>Regular Season Summary</h2>

<table>
    <thead>
        <tr>
            <td>Rank</td>
            <td>Played</td>
            <td>Won</td>
            <td>Forfeits For</td>
            <td>Drawn</td>
            <td>Lost</td>
            <td>Forfeits Against</td>
            <td>For</td>
            <td>Against</td>
            <td>Difference</td>
            <td>Bonus Points</td>
            <td>Points</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ team.regular_rank }}</td>
            <td>{{ team.regular_played }}</td>
            <td>{{ team.regular_won }}</td>
            <td>{{ team.regular_forfeits_for }}</td>
            <td>{{ team.regular_drawn }}</td>
            <td>{{ team.regular_lost }}</td>
            <td>{{ team.regular_forfeits_against }}</td>
            <td>{{ team.regular_score_for }}</td>
            <td>{{ team.regular_score_against }}</td>
            <td>{{ team.regular_score_difference }}</td>
            <td>{{ team.regular_bonus_points }}</td>
            <td>{{ team.regular_points }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ '%0.2f'| format(team.regular_score_for / team.regular_played) }}</td>
            <td>{{ '%0.2f'| format(team.regular_score_against / team.regular_played) }}</td>
            <td>{{ '%+0.2f'| format(team.regular_score_difference / team.regular_played) }}</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<h2>All Games</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Season Stage</th>
            <th>Opponent</th>
            <th>Score</th>
            <th>Outcome</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>

    {% for g in team.games %}
        <tr>
            <td>{{ g.game.id }}</td>
            <td>{{ g.game.starts_at.strftime('%d/%m/%Y') }}</td>
            <td>{{ g.game.starts_at.strftime('%H:%M') }}</td>
            <td>{{ g.game.season_stage }}</td>
            <td>
                {{ g.opponent.team.simple_link|safe }}
                {% if g.game.season_stage == 'regular' %}
                    <sup>({{ g.opponent.team.regular_rank }})</sup>
                {% endif %}
            </td>
            <td>{{ g.game.score_link|safe }}</td>
            <td>{{ g.outcome }}</td>
            <td>
                {% if g.game.season_stage == 'regular' %}
                    {{ g.points }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>

